# Virtual environments
.venv/
.venv311/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Streamlit cache
.streamlit/

# Large output files
output.txt

# Logs
*.log

# Large prebuilt models for offline storage
/backend/large_models/
/backend/models/
/models/
models*_*\.pkl
