# Virtual environments
.venv/
.venv311/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Streamlit cache
.streamlit/

# Model files (optional if too large)
*.pkl

# Large output files
output.txt

# Logs
*.log
# Large prebuilt models for offline storage
/backend/large_models/*
models*_*\.pkl
